[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pigpio = "*"
pisat = {git = "https://github.com/jjj999/pisat.git"}
picamera = "*"

[requires]
python_version = "3.8"
