[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs-material = "*"
mkdocstrings = "*"

[packages]
picamera = "*"
pigpio = "*"
pisat = "*"
picam = {editable = true, path = "."}

[requires]
python_version = "3.7"

[scripts]
deploy-doc = "mkdocs gh-deploy --force"
test = "python -m unittest discover -v"
